
@{
    ViewBag.Title = "List";
}

<h2>Education</h2>
<ul>
    <li>
        <b>Bachelor of Science (B.Sc.) in Computer Science and Engineering (4 years)</b></br>
        Institution: American International University-Bangladesh (AIUB)</br>
        Department: Computer Science and Engineering</br>
        CGPA: 3.91 (Out of 4.00), Dean’s List all Semesters</br>
        Year of Pass: 2021</br></br>
    </li>

    <li>
        <b>Higher Secondary Certificate (H.S.C) (2 years)</b></br>
        Institution: Kalaroa Govt. College.</br>
        Board: Jessor</br>
        Group: Science</br>
        GPA: 5.00 (out of 5.00)</br>
        Year of Pass: 2017</br></br>
    </li>

    <li>
        <b>Secondary School Certificate (S.S.C) (10 years)</b></br>
        Institution: Kalaroa Govt. Model Pilot High School.</br>
        Board: Jessor</br>
        Group: Science </br>
        GPA: 5.00 (Out of 5.00)<br>
        Year of Pass: 2015
    </li>
</ul>



