@model FirstApplication.Models.Student
@{
    ViewBag.Title = "List";
}

<h2>@Model.Name</h2>
<h2>@Model.Id</h2>

<table class="table table-bordered">
    <tr><td>I am MD AL MUZAHID NAYIM and a back-end developer. my objective is to utilize my knowledge and skill,
        utilize given opportunity for professional growth and to contribute
        in the best possible way for the betterment of the organization and self.</td></tr>
</table>