@model List<FirstApplication.Models.Student>
@{
    ViewBag.Title = "List2";
}


<h2>List</h2>
<table class="table table-condensed">
    <tr><td>name</td><td>Id</td></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td><td>@item.Id</td>
        </tr>
    }
</table>
