<div ng-include="'views/inc/top_nav.html'"></div>
<div>
    <style>
        #frm {
            width: 1200px;
            margin: 20px 80px;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0px 0px 50px blue;
            background-color: transparent;
            color: #34495e;
        }
    </style>
<h2 align="center">{{fname}}</h2>
<table id="frm" class="table table-bordered">
    <tr style="width: 145px; height: 45px; font-size: 20px;" align="center" class="text text-primary">
        <td>Service Name</td>
        <td>Details</td>
        <td>Service Charge</td>
        <td>Service Type</td>
        
    </tr>
    <tr ng-repeat="p in products" align="center" style="width: 145px; height: 45px; font-size: 20px;" class="text text-success">
        <td>{{p.name}}</td>
        <td>{{p.details}}</td>
        <td>{{p.price}}</td>
        <td>{{p.type}}</td>
    </tr>
</table>
</div>
