<div ng-include="'views/inc/top_nav.html'"></div>
<div>
    <h2>{{fname}}</h2>


  <style>
    #frm {
        width: 1200px;
        margin: 20px 80px;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0px 0px 50px blue;
        background-color: transparent;
        color: #34495e;
    }
</style>


<h2 align="center" class="text text-primary">my assigned works</h2>

    <table align="center" id="frm" class="table table-bordered">
        <tr style="width: 145px; height: 45px; font-size: 20px;" class="text text-primary">
            <td>Employee id</td>
            <td>Service charge(per unit)</td>
            <td>Uqantity</td>
            <td>Work Details</td>
            <td>Customer Details</td>
            <td>Task Completed?</td>
        
        
        <tr ng-repeat="p in products" style="width: 145px; height: 45px; font-size: 20px;" class="text text-success">
        <td>{{p.employee_id}}</td>
        <td>{{p.unit_price}}</td>
        <td>{{p.quantity}}</td>
        <td>
            <a class="btn btn-info" href="#!AssignService/{{p.service_id}}">See Details</a>
        </td>
        <td>
            <a class="btn btn-success" href="#!ServiceDetails/{{p.order_id}}">See Details</a>
        </td>

        <td>
            <a class="btn btn-success" href="https://localhost:44300/api/Employee/AssignWork/ChangeStatus/?id={{p.order_id}}">Yes</a>

        </td>
    </tr>
        
    </table>
</div>