<div ng-include="'views/inc/top_nav.html'"></div>


<div>
    <style>
        #frm {
            width: 248px;
            margin: 20px 562px;
            padding: 55px 10px;
            border-radius: 150px;
            box-shadow: 0px 0px 50px gold;
            background-color: transparent;
            color: #34495e;
        }
    </style>
    
    <h2 align="center">My Wallet</h2>
    
    <h1 id="frm" style="font-size:60px" align="center" valign="center" class="text text-success">BDT<br /> {{products}}</h1>
</div>