
@{
    ViewBag.Title = "List";
}

<h2>Project accompleahed</h2>
<ul><li>Developed Blood Bank management system using C# (IDE-visual studio 2015, DB- MS SQL Server)</li>
    <li>Developed an Online Medical Service (Language- PHP, HTML, JS; DB- MySql)</li>
    <li>Developed a test plan for E-troll collecting system</li>
    <li>Developed graphics design of City Street view (language- C++, IDE- CodeBlocks 17.12)</li>
    <li>Developed Library management system using Java (IDE- Eclipse)</li></ul>

