
@{
    ViewBag.Title = "List";
}

<h2>References</h2>
<b>DR. A F M Saifuddin Saif</b></br>
		Senior Assistant Professor</br>
		Department of Computer Science</br>
		American International University-Bangladesh</br>
		E-mail: saif@aiub.edu</br></br>

<b>S. M. Abdur Bhuiyan Rouf</b></br>
		Assistant Professor</br>
		Department of Computer Science</br>
		American International University-Bangladesh</br>
		E-mail: arouf@aiub.edu


