
@{
    ViewBag.Title = "List";
}

<h2>Personal Information</h2>
<p>
    Name: MD AL MUZAHID NAYIM</br>
    Address: Plot# 412, Road# 3, Block H, Bashundhara R-A, Dhaka</br>
    Email: mdalmuzahidniem@gmail.com</br>
    Phone: 01786463545</br>
    Nationality: Bangladeshi</br>
    Date of Birth: 21 July 1999
</p>

